.attendance-container {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.attendance-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #2c3e50;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #27ae60;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* button:hover {
  background-color: #219150;
} */

.absent{
  background-color: red;
}
