.previous-attendance { padding: 16px; }
.previous-attendance input { padding: 6px; }
.previous-attendance button { padding: 6px 10px; }
.previous-attendance table th { background: blue; text-align: left; }
